{% extends "app/base/base_admin.html" %}

{% block titulo %} Editar  Docente {% endblock %}
{% block content %}

<div class="container mt-5">
<form class="row g-3 p-4 shadow-sm bg-white border" action="{% url 'editar_docente' docente.id %}" method="post"
  enctype="multipart/form-data">
  {% csrf_token %}
  <div class="col-md-4">
    <label class="form-label">Nombres</label>
    <input type="text" class="form-control" placeholder="Nombres" name="nombre" value="{{ docente.nombre }}" required>
  </div>
  <div class="col-md-4">
    <label class="form-label">Apellidos</label>
    <input type="text" class="form-control" placeholder="Apellidos" name="apellido" value="{{ docente.apellido }}"
      required>
  </div>
  <div class="col-md-4">
    <label class="form-label">Edad</label>
    <input type="number" class="form-control" placeholder="Edad" name="edad" value="{{ docente.edad }}" disabled required>
  </div>
  <div class="col-12 col-md-4">
    <label class="form-label">DNI</label>
    <input type="text" class="form-control" placeholder="DNI"  minlength="8" maxlength="8"   name="dni" value="{{ docente.dni }}" required>
  </div>
  <div class="col-12 col-md-4">
    <label class="form-label">Correo</label>
    <input type="email" class="form-control" name="correo" value="{{ docente.correo }}" required>
  </div>
  <div class="col-12 col-md-4">
    <label class="form-label">Telefono</label>
    <input type="number" class="form-control" name="telefono" value="{{ docente.telefono }}" required>
  </div>
  <div class="col-md-4">
    <label class="form-label">Dirección</label>
    <input type="text" class="form-control" placeholder="Dirección de Domicilio" name="direccion"
      value="{{ docente.direccion }}" required>
  </div>
  <div class="col-md-4">
    <label class="form-label">Fecha de Nacimiento</label>
    <input type="date" class="form-control" name="fecha_nacimiento" value="{{ docente.fecha_nacimiento|date:'Y-m-d' }}"
      required>
  </div>
  <div class="col-md-4">
    <label class="form-label">Grado de Cinturón</label>
    <select class="form-control form-select" name="grado_cinturon" required>
      <option value="{{ docente.grado_cinturon }}" selected>actual: {{ docente.grado_cinturon }}</option>
      <option value="Cinturón Negro I DAN">Cinturón Negro I DAN</option>
      <option value="Cinturón Negro II DAN">Cinturón Negro II DAN</option>
      <option value="Cinturón Negro III DAN">Cinturón Negro III DAN</option>
      <option value="Cinturón Negro IV DAN">Cinturón Negro IV DAN</option>
      <option value="Cinturón Negro V DAN">Cinturón Negro V DAN</option>
      <option value="Cinturón Negro VI DAN">Cinturón Negro VI DAN</option>
      <option value="Cinturón Negro VII DAN">Cinturón Negro VII DAN</option>
      <option value="Cinturón Negro VIII DAN">Cinturón Negro VIII DAN</option>
      <option value="Cinturón Negro IX DAN">Cinturón Negro IX DAN</option>
      <option value="Cinturón Negro X DAN">Cinturón Negro X DAN</option>
    </select>
  </div>

  <div class="col-md-4">
    <label class="form-label">Foto de Perfil</label>
    <input type="file" class="form-control" name="foto_perfil" accept=".jpg, .jpeg, .png">
    {% if docente.foto_perfil %}
    <img src="{{ docente.foto_perfil.url }}" alt="Foto de Perfil" class="img-thumbnail"
      style="max-width: 200px; margin-bottom: 10px;">
    {% endif %}
  </div>
  <div class="col-md-4">
    <label class="form-label">Género</label>
    <select class="form-control form-select" name="genero" required>
      <option value="{{ docente.genero }}" selected>actual: {{ docente.genero }}</option>
      <option value="Masculino">Masculino</option>
      <option value="Femenino">Femenino</option>
    </select>
  </div>

  <div class="col-md-4">
    <label class="form-label">Usuario</label>
    <select class="form-control form-select" name="usuario" required>

      <option value="{{ docente.id_usuario.id }}">{{ docente.id_usuario }}</option>

    </select>
  </div>


  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-warning"><i class="bi bi-check-circle"></i> Actualizar</button>
  </div>
</form>

</div>
{% endblock %}