{% extends "app/base/base_admin.html" %}
{% load static %}
{% block titulo %} Lista de Docentes  <img src="{% static 'app/img/taekwondo.png' %}" alt="" style="width: 70px;"> <img src="{% static 'app/img/icono docente femenina.png' %}" alt="" style="width: 65px;">
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <a href="/registrar_docente/"> <button class="btn btn-success rounded-1"><i class="fas fa-plus"></i> Registrar Docente</button></a>
    <form action="{% url 'buscar_docentes' %}" method="get" class="d-flex mt-3 mb-4" role="search">

        <input class="form-control me-2 rounded-1" name="q" type="search" placeholder="Buscar Docentes" aria-label="Search">
        <button class="btn btn-success rounded-1" type="submit"><i class="fas fa-magnifying-glass"></i></button>
    </form>
</div>


<table class="table table-hover table-bordered shadow-sm">
    <thead class="table-primary">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Grado de Cinturon</th>
            <th scope="col">Usuario</th>
            <th scope="col" class="text-center">Foto</th>
            <th scope="col" class="text-center">Acciones</th>
        </tr>
    </thead>

    <tbody class="">
        {% for x in docentes %}
        <tr>
            <td scope="row">{{x.id}}</td>
            <td>{{x.nombre}}</td>
            <td>{{x.apellido}}</td>
            <td>{{x.grado_cinturon}}</td>
            <td>{{x.id_usuario}}</td>
            <td class="text-center"><a href="{{x.foto_perfil.url}}"><img src="{{x.foto_perfil.url}}" alt="" style="width: 50px; height: 50px; object-fit: cover; border-radius: 25px; border-style: solid; border-color: aquamarine;"></td></a>
            <td class="text-center">
                <a href="/editar_docente/{{x.id}}"><button type="button" class="btn btn-info rounded-1">
                        <i class="bi bi-pencil"></i>
                    </button></a>
                <a href="/detalles_docente/{{x.id}}"><button type="button" class="btn btn-info rounded-1"><i
                            class="bi bi-info-circle"></i></button></a>
                <a href="/eliminar_docente/{{x.id}}"> <button type="button" class="btn btn-danger rounded-1"
                        onclick="return confirm('¿Estás seguro que quieres eliminar al docente?')"><i
                            class="bi bi-trash"></i></button></a>
            </td>
        </tr>



        {% endfor %}


    </tbody>
</table>

{% endblock %}